<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Website of Robin Janssens">
    <meta name="author" content="Robin Janssens">

    <link rel="icon" href="assets/images/favicon.png">
    <link rel="apple-touch-icon" href="assets/images/favicon_apple.png">

    <title>{{title}} - Robin Janssens</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta" integrity="sha384-zFIS445YVs2Q2LGFicAaWItZlGl8Pj/Gucq6I2wKkihXONSKaA6VnduC3lu2X8zd" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/style.css">

  </head>

  <body>

    <nav class="navbar navbar-expand-md fixed-top navbar-custom justify-content-center">
      <!-- <a href="index.html" class="navbar-brand d-flex w-50 mr-auto">Robin Janssens</a> -->
      <a href="index.html" class="navbar-brand d-flex w-50 mr-auto">ROBIN JANSSENS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="nav navbar-nav ml-auto w-50 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <article>
        {{content}}
      </article>
    </div>

    <footer class="footer" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-lg-6">
          </div>
          <div class="col-md-7 col-lg-6">
            <h2>Lets Get Social</h2>
            <div class="social">
              <a href="mailto:robin@robinjanssens.net"><i data-feather="mail"></i><span class="gap">robin@robinjanssens.net</span></a><br>
              <a href="https://twitter.com/robin_janssens" target="_blank"><i data-feather="twitter"></i><span class="gap">@robin_janssens</span></a><br>
              <a href="https://www.facebook.com/janssensrobin" target="_blank"><i data-feather="facebook"></i><span class="gap">Robin Janssens</span></a><br>
              <a href="https://www.instagram.com/r_janssens" target="_blank"><i data-feather="instagram"></i><span class="gap">r_janssens</span></a><br>
              <a href="robinjanssens.asc" target="_blank"><i data-feather="lock"></i><span class="gap">PGP Public Key</span></a><br>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons@3.2.2/dist/feather.min.js" integrity="sha384-I8R3+86blloR/keuQ567DVr0UBQLIDN/68hE9P0zxjLzd0prxQTbQRUFNrNbyvjZ" crossorigin="anonymous"></script>
    <script>feather.replace({})</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
