<footer class="footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-6">
      </div>
      <div class="col-md-7 col-lg-6">
        <h2>Lets Get Social</h2>
        <div class="social">
          <a href="mailto:robin@robinjanssens.net"><i data-feather="mail"></i><span>robin@robinjanssens.net</span></a><br>
          <a href="https://twitter.com/robin_janssens" target="_blank"><i data-feather="twitter"></i><span>@robin_janssens</span></a><br>
          <a href="https://www.linkedin.com/in/robin-janssens-4140b1a0/" target="_blank"><i data-feather="linkedin"></i><span>Robin Janssens</span></a><br>
          <a href="https://www.facebook.com/janssensrobin" target="_blank"><i data-feather="facebook"></i><span>Robin Janssens</span></a><br>
          <a href="https://www.instagram.com/r_janssens" target="_blank"><i data-feather="instagram"></i><span>r_janssens</span></a><br>
          <a href="/robinjanssens.asc" target="_blank"><i data-feather="lock"></i><span>PGP Public Key</span></a><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container footer-links">
        <a href="/privacy" target="_blank">Privacy Policy</a>
        <a href="/terms" target="_blank">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
