<nav class="navbar navbar-expand-md fixed-top navbar-custom justify-content-center">
  <a href="/#introduction" class="navbar-brand d-flex w-50 mr-auto">ROBIN JANSSENS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <i data-feather="menu"></i>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="nav navbar-nav ml-auto w-50 justify-content-end">

      <li class="nav-item">
        <a class="nav-link" href="/#introduction">Home</a>
      </li>
      {% for menu_item in page.menu_items %}
        <li class="nav-item">
          <a class="nav-link" href="{{ menu_item.href }}">{{ menu_item.label }}</a>
        </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>

    </ul>
  </div>
</nav>
