<nav class="navbar navbar-expand-md fixed-top navbar-custom justify-content-center">
  <div class="navbar-heading me-auto">
    <a href="/#introduction" class="navbar-brand">ROBIN JANSSENS</a><span class="navbar-tagline d-none d-lg-inline">RESEARCH ENGINEER</span>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="nav navbar-nav ms-auto justify-content-end">

      <li class="nav-item">
        <a class="nav-link" href="/#introduction">Home</a>
      </li>
      {% for menu_item in page.menu_items %}
        <li class="nav-item">
          <a class="nav-link" href="{{ menu_item.href }}">{{ menu_item.label }}</a>
        </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>

    </ul>
  </div>
</nav>
