
$button-color: $vibrant-blue;
$button-hover-color: change-color($button-color, $lightness: lightness($button-color) * 1.75);

.btn-outline-primary {
  background-color: transparent;
  color: $button-color;
  border-color: $button-color;
  border-width: 2px;
  border-radius: 10px;
}
.btn-outline-primary:hover {
  @extend .btn-outline-primary;
  color: $button-hover-color;
  border-color: $button-hover-color;
}
