
$footer-bg-color: #eceff1; /* Blue Gray 50  */
$footer-text-color: #455a64; /* Blue Gray 700 */
$footer-hover-color: $footer-text-color * 2;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 21.5rem;      /* Set the fixed height of the footer here */
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h2 {
    font-family: 'Noto Sans', sans-serif;
    color: $footer-text-color;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

}

.footer-links {
  padding-top: 1rem;

  a {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    padding-right: 2rem;
  }
  a:link,
  a:visited {
    color: $footer-text-color;
  }
  a:hover,
  a:active {
    color: $footer-hover-color;
  }

}

.social {

  .feather {
    vertical-align: middle;
  }

  a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
  }
  a:link,
  a:visited {
    color: $footer-text-color;
  }
  a:hover,
  a:active {
    color: $footer-hover-color;
  }
  .gap {
    padding-left: 1rem;
  }

}
