.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar {
  /* Chrome issue fix */
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-transform: rotateZ(360deg);
  -webkit-transform: translatez(1000);
  -moz-transform: translatez(1000);
  -ms-transform: translatez(1000);
  -o-transform: translatez(1000);
  transform: translatez(1000);
}

/*===== Brand =====*/
.navbar-brand {
  font-family: 'stencil';
  font-size: 28px;
  float: left;
  padding: 20px 20px;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

/*===== Icon =====*/
.navbar-default .navbar-toggle {
  margin: 15px 20px;
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/*===== Items =====*/
.navbar-nav > li {
  display: inline-block;
}
.navbar-nav > li + li {
  margin-left: 20px;
}
.navbar-default .navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #bbb; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /*background-color: transparent;*/
  color: #bbb; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}
