html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 3.5rem; /* Move down content because we have a fixed navbar that is 3.5rem tall */
  margin-bottom: 15rem; /* Margin bottom by footer height 12rem */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;      /* Set the fixed height of the footer here */
  line-height: 12rem; /* Vertically center the text there */
  background-color: rgb(32,32,32);
}
/* change the background color */
.navbar-custom {
  background-color: rgb(255,255,255);
  box-shadow: 0px 10px 10px rgba(180,180,180,0.2)
}
/* change the brand, link and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  color: rgb(128,128,128);
}
/* change the spacing between links*/
.navbar-custom .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* change the color of active or hovered links and brand */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:hover {
  color: rgb(200,200,200);
}
