html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Noto Sans', sans-serif; /* Use 'Noto Sans' font as default font */
  padding-top: 3.5rem;  /* Move down content because we have a fixed navbar that is 3.5rem tall */
  padding-bottom: 21.5rem; /* Margin bottom by footer height 12rem */
}
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
article {
  font-family: 'Noto Sans', sans-serif; /* Use 'Noto Sans' font for articles */
  padding-top: 4rem;
  padding-bottom: 5rem;
}
/* Display all headers in 'Allerta' font */
h1, h2, h3, h4, h5, h6, p {
  color: rgb(128,128,128);
}
.inverse {
  background-color: rgb(128,128,128);
}
.inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .inverse h6, .inverse p {
  color: rgb(255,255,255);
}
.graffiti {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    line-height: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: rgb(128,128,128);
}
@media (min-width: 576px) { .graffiti {font-size: 5rem;} }
@media (min-width: 768px) { .graffiti {font-size: 6rem;} }
@media (min-width: 992px) { .graffiti {font-size: 7rem;} }
.rotate-clockwise {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.rotate-counterclockwise {
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}
.introduction {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  color: rgb(100,100,100);
  width: 100%;
  text-align: center;
}

.btn-outline-primary {
  color: rgb(128,128,128);
  border-color: rgb(128,128,128);
  border-width: 2px;
  border-radius: 10px;
}
.btn-outline-primary:hover {
  background-color: transparent;
  color: rgb(200,200,200);
  border-color: rgb(200,200,200);
}
.inverse .btn-outline-primary {
  color: rgb(255,255,255);
  border-color: rgb(255,255,255);
  border-width: 2px;
  border-radius: 10px;
}
.inverse .btn-outline-primary:hover {
  background-color: transparent;
  color: rgb(200,200,200);
  border-color: rgb(200,200,200);
}

.card {
  margin: 0 auto; /* Center cards */
  float: none;    /* Center cards */
  margin-bottom: 0.5rem; /* Keep horizontal space between cards */
  padding: 1rem; /* In every direction 1rem space between content and border */
  box-shadow: 7px 12px 5px rgba(0, 0, 0, 0.3);
}
.img-circle {
  border-radius: 50%; /* Make it a circle */
}
.card .img-circle {
  padding-bottom: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 21.5rem;      /* Set the fixed height of the footer here */
  background-color: rgb(32,32,32);
  color: rgb(128,128,128);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer h2 {
  font-family: 'Noto Sans', sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.social a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}
.social a:link,
.social a:visited {
  color: rgb(128,128,128);
}
.social a:hover,
.social a:active {
  color: rgb(192,192,192);
}
.social .gap {
  padding-left: 1rem;
}
.footer-links {
  padding-top: 1rem;
}
.footer-links a {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  padding-right: 2rem;
}
.footer-links a:link,
.footer-links a:visited {
  color: rgb(128,128,128);
}
.footer-links a:hover,
.footer-links a:active {
  color: rgb(192,192,192);
}

/* change the background color */
.navbar-custom {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(255,255,255);
  box-shadow: 0px 10px 10px rgba(180,180,180,0.2);
}
/* change the brand, link and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
  color: rgb(128,128,128);
}
/* change the spacing between links*/
.navbar-custom .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* change the color of active or hovered links and brand */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:hover {
  color: rgb(200,200,200);
}
/* change font of brand */
.navbar-custom .navbar-brand {
  font-family: 'Allerta', sans-serif;
  font-size: 1.5rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
}
