<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include navbar.html %}

    <section id="introduction">
      <div class="container introduction">
        <div class="row">
          <span class="graffiti rotate-clockwise">ROBIN<br>JANSSENS</span>
        </div>
        <div class="row">
          <span class="introduction">
            {{ page.introduction }}
          </span>
        </div>
      </div>
    </section>

    <div class="container">
      <hr>
    </div>

    <section id="portfolio">
      <div class="container portfolio">
        <div class="row">
          <span class="graffiti rotate-counterclockwise">PORTFOLIO</span>
        </div>
        <div class="row">

        {% for portfolio_card in site.data.portfolio_cards %}
          <div class="card">
            <img class="card-img-top" src="{{ portfolio_card.image.url }}" alt="{{ portfolio_card.image.alt }}">
            <div class="card-body">
              <h4 class="card-title">{{ portfolio_card.title }}</h4>
              <p class="card-text">{{ portfolio_card.description }}</p>
              <a href="{{ portfolio_card.button.href }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary">{{ portfolio_card.button.label }}</a>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </section>

    <div class="container">
      <hr>
    </div>

    <section id="publications">
      <div class="container publications">
        <div class="row">
          <span class="graffiti rotate-clockwise">Publications</span>
        </div>
        <div class="row">
        {% for publication in site.data.publications %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ publication.title }}</h6>
              <h6 class="authors">
                {% for author in publication.authors %}
                {{ author }}{% if forloop.last == false %}, {% endif %}
                {% endfor %}
              </h6>
              <p class="journal">{{ publication.year }}, {{ publication.journal }}</p>

              {% if publication.abstract %}
              <div>
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAbstract{{ forloop.index0 }}" aria-expanded="false"><i data-feather="chevron-down" class="chevron"></i> Read abstract</button>
                <div class="collapse" id="collapseAbstract{{ forloop.index0 }}">
                    <p>{{ publication.abstract }}</p>
                </div>
              </div>
              {% endif %}

              {% if publication.url %}<a href="{{ publication.url }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary" title="Go To Publishers Website"><i data-feather="external-link"></i></a>{% endif %}
              {% if publication.pdf %}<a href="{{ publication.pdf }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary" title="Download PDF Version"><i data-feather="download"></i></a>{% endif %}

              <!-- <a href="" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary" title="Get BibTex">BibTex</a> -->
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.7.0.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons@4.22.0/dist/feather.min.js" integrity="sha384-kRX4Ans7ulQOTEg2ulq17Xv9yr/5ctyskeQgROCx89H0JmQ46ZbBsF2or7HUuCr3" crossorigin="anonymous"></script>
    <script>feather.replace({})</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" integrity="sha384-PDjg2ZdS3khPzd53i18+7tzB32JVQfFMrTXYo21RqPgUmEVAPwIhxOUF/8sP79CS" crossorigin="anonymous"></script>
    <script src="/assets/js/cookieconsent.config.js"></script>
    <script src="/assets/js/smoothscroll.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63691259-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-63691259-1');
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
