<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicon_apple.png">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta%7CAllerta+Stencil%7COpen+Sans" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Cookie Consent CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" integrity="sha384-6iYDyQZuuNT7DcPJGXx241czdv2+GDGUcXRiqw1iXrjgYMTorSetxFP3JCMQMwnR" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- SEO-Tag Plugin -->
    <meta property="og:type" content="{{ page.type }}" />
    {% seo %}

  </head>

  <body>

    {% include navbar.html %}

    <section id="introduction">
      <div class="container">
        <div class="row">
          <span class="graffiti rotate-clockwise">ROBIN<br>JANSSENS</span>
        </div>
        <div class="row">
          <span class="introduction">
            {{ page.introduction }}
          </span>
        </div>
      </div>
    </section>

    <div class="container">
      <hr>
    </div>

    <section id="links">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Wish list</h2>
            <p>My wish list of things I can use in and around my lab</p>
            <a class="btn btn-outline-primary btn-lg" href="/wishlist" role="button">Go to Wish list &raquo;</a>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <hr>
    </div>

    <section id="portfolio">
      <div class="container">
        <div class="row">
          <span class="graffiti rotate-counterclockwise">PORTFOLIO</span>
        </div>
        <div class="row">

        {% for portfolio_card in site.data.portfolio_cards %}
          <div class="card">
            <img class="card-img-top img-circle" src="{{ portfolio_card.image.url }}" alt="{{ portfolio_card.image.alt }}">
            <div class="card-block">
              <h4 class="card-title">{{ portfolio_card.title }}</h4>
              <p class="card-text">{{ portfolio_card.description }}</p>
              <a href="{{ portfolio_card.button.href }}" target="_blank" class="btn btn-outline-primary">{{ portfolio_card.button.label }}</a>
            </div>
          </div>
        {% endfor %}

        </div>
      </div>
    </section>

    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha384-NXgwF8Kv9SSAr+jemKKcbvQsz+teULH/a5UNJvZc6kP47hZgl62M1vGnw6gHQhb1" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.7.0.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons@4.22.0/dist/feather.min.js" integrity="sha384-kRX4Ans7ulQOTEg2ulq17Xv9yr/5ctyskeQgROCx89H0JmQ46ZbBsF2or7HUuCr3" crossorigin="anonymous"></script>
    <script>feather.replace({})</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" integrity="sha384-PDjg2ZdS3khPzd53i18+7tzB32JVQfFMrTXYo21RqPgUmEVAPwIhxOUF/8sP79CS" crossorigin="anonymous"></script>
    <script src="/assets/js/cookieconsent.config.js"></script>
    <script src="/assets/js/smoothscroll.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63691259-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-63691259-1');
    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
